* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}
.auto-resize-portrait {
  height: 100%;
}
.img {
  background-image: url("./1600-900.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.header a {
  text-decoration: none;
  color: #000;
}
